body
{
	margin-left:5%;
	margin-right:2%;
	background-image:url('../img/ceu-back.png');
	background-attachment:fixed;
	font-family:arial,verdana,sans-serif;
	line-height:20pt;
}
.menu
{
	background-color:#760000;
	width:90%;
	padding:2%;
	border-radius:10px;
	text-align:right;
	box-shadow:5px 5px 15px;
	position:relative;
	float:left;
	display:block;
	list-style:none;
}
.menu  li{
	float:left;
	display:block;
	position:static;
}
.menu li a
{
	color:white;
	font-size:x-large;
	font-weight:bold;
	text-decoration:none;
	padding-right:40px;
	display:block;
	word-wrap:break-word;
}
.menu li a:hover
{ 
	color:#c9ebff;
}
/*estilizando o Sub-Menu*/
.menu li ul
{
	padding:2px;
	display:none;
	background-color:#fba457;
	box-shadow:5px 5px 15px;
	border-radius:0px 0px 5px 5px;
	margin-left:-25px;
}

.menu li ul a
{
	font-size:15pt;
	text-align:center;
	font-weight:normal;
	border-bottom:2px solid #d4a67e;
}
/*ações ao passar ao Mouse no Menu*/
.menu li ul a:hover
{
	border: 2px solid #fff;
	background:#dba06b;
	border-style:inset;
	border-width:5px;
}
.menu li:hover ul
{
	display:block;
	position:absolute;
}
.menu li:hover li
{
	float:none;
	text-align:left;
}
/*posicionando a imagem e o nome*/
#div1
{
	position:static;
	margin-left:6%;
}
/*Cabecalho do Corpo*/
.cabecalho
{
	margin-top:-8px;
	margin-left:5%;
	background-color:#760000;
	width:60%;
	padding:10px;
	border-radius:10px;
	text-align:right;
	box-shadow:5px 5px 15px;
	position:static;
	float:left;
	display:block;
	list-style:none;
}
.cabecalho li
{
	float:left;
	position:static;
	display:block;
}
.cabecalho li a
{
	color:white;
	font-size:normal;
	font-weight:normal;
	padding-right:60px;
	display:block;
}
.cabecalho li a:hover
{
	
}
/*estilizando a Barra de Data do Menu secundario do Site*/
#data
{
	margin-left:50%;
	margin-top:-8px;
	margin-right:10%;
	width:44%;
	max-width:50%;
	text-align:right;
	position:static;
	color:white;
	font-weight:xx-large;
	padding:10px;
	background-color:gray;
	border-radius:10px 10px 0px 0px;
	box-shadow:5px 5px 20px black; 
	
}
/*estilo do Corpo do Site */
#corpo
{
	margin-top:-20px;
	margin-left:6%;
	width:85%;
	height:100%;
	font-size:14pt;
	position:static;
	font-weight:xx-large;
	padding:30px;
	background-color:white;
	border-radius:0px 0px 10px 10px;
	box-shadow:5px 5px 20px black;
}
/*Estilo dos Titulos do Meu site*/
h2
{
	font-size:18pt;
	font-weight:bold;
	color:#760000;
	padding-bottom:10px;
}

#txt1
{
	width:65%;
	text-align:justify;
	word-wrap: break-word;
}
/*Estilo do Rodape do Site*/
#rodape
{
	position:static;
	padding:1%;
	text-align:center;
}
#txtrodape
{
	margin-top:-1%;
}
#aviso
{
	color:#001241;
	text-decoration:underline;
	font-size:x-large;
	font-weight:bold;
	width:100%;
}

#box
{
	background-color:#fbfbfb;
	padding:1%;
	border-radius:15px;
	border-style:ridge;
	border-width:10px;
	border-color:#d9d9d9;
}
/*Ajustes do Frame do Calendario Mensal*/ 
#frame1
{
	width:100%;
	height:600px;
}
/*Ajustando as Imagens para ficarem Responsivas*/
#icone
{
	max-width:30%;
}
#nome
{
	max-width:50%;
}

/*fotos da pagina oração*/
#caetano
{
	float:right;
	height:40%;
	width:40%;
}
#aparecida
{
	float:right;
	height:40%;
	width:40%;
}

/*tamanho dos icones dos links uteis*/
#link
{
	width:20%;
	position:relative;
	margin-left:20%;
}
/*Slides da pagina inicial*/
#slide
{
	background-color:black;
	width:100%;
	height:525px;
}

/*definindo os tamanhos das fotos das paginas*/
#setor
{
	width:30%;
}
#pastoral,#mov
{
	width:20%;
}

/*Definindo o tamanho da fonte para ser utilizado nas legendas das fotos e descrição de fatos da Pagina História*/
#legenda
{
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
}
#legenda1
{
	text-align:right;
	font-style: italic;
	font-size: smaller;
	text-indent:100;
}